option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
  aws:elasticbeanstalk:application:environment:
    ALLOWED_ORIGINS: "https://getgit789.github.io"
    PORT: "80"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    HealthCheckTimeout: 5
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    MatcherHTTPCode: 200
    Port: 80
    Protocol: HTTP
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:autoscaling:launchconfiguration:
    SecurityGroups: sg-0132d341fb7490968
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elbv2:listener:default:
    ListenerEnabled: true
    Protocol: HTTP
    DefaultProcess: default
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
