option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    PORT: "8002"
    ALLOWED_ORIGINS: "https://getgit789.github.io"

container_commands:
  01_setup_nginx:
    command: |
      echo '
      upstream backend {
        server 127.0.0.1:8002;
      }

      server {
          listen 80;
          
          location / {
              proxy_pass http://backend;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              
              add_header "Access-Control-Allow-Origin" "https://getgit789.github.io" always;
              add_header "Access-Control-Allow-Methods" "GET, POST, OPTIONS" always;
              add_header "Access-Control-Allow-Headers" "Content-Type" always;
              
              if ($request_method = "OPTIONS") {
                  return 204;
              }
          }
      }
      ' > /tmp/nginx.conf
      sudo mv /tmp/nginx.conf /etc/nginx/conf.d/proxy.conf 